name: Autograding Tests
on:
  push:
    branches:
      - assignment
      - solution
  repository_dispatch:
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set Jupyter platformdirs environment variable #to remove warning DeprecationWarning: Jupyter is migrating its paths to use standard platformdirs given by the platformdirs library
      run: echo "JUPYTER_PLATFORM_DIRS=1" >> $GITHUB_ENV
    - name: Check iter
      id: check-iter
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Check iter
        setup-command: pip install numpy scipy pandas matplotlib jupyter ipykernel
        command: |
          if grep -q "Team green has 5 points." 1_iter.ipynb && \
                  grep -q "Team red has 9 points." 1_iter.ipynb && \
                  grep -q "Team blue has 7 points." 1_iter.ipynb; then
              echo "All team points found in notebook output."
          else
              echo "Missing team points in notebook output."
              exit 1
          fi
        timeout: 10
        max-score: 10
    - name: Check notebook
      id: check-notebook
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Check notebook
        setup-command: pip install numpy scipy pandas matplotlib jupyter ipykernel
        command: |
          if [ -f "my_earthquake.svg" ]; then
            rm my_earthquake.svg
            echo "my_earthquake.svg removed."
          else
            echo "my_earthquake.svg does not exist."
          fi
          jupyter nbconvert --execute 3_stem_plots.ipynb --to notebook --inplace
        timeout: 10
        max-score: 10
    - name: Check svg
      id: check-svg
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Check svg
        command: |
          if [ -f "my_earthquake.svg" ]; then
            echo "my_earthquake.svg exists."
          else
            echo "my_earthquake.svg does not exist."
            exit 1
          fi
        timeout: 10
        max-score: 10
    - name: Check 4_errors notebook
      id: check-4-errors
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Check 4_errors notebook
        setup-command: pip install numpy scipy pandas matplotlib jupyter ipykernel
        command: |
          jupyter nbconvert --execute 4_errors.ipynb --to notebook --inplace
        timeout: 10
        max-score: 10
    - name: Check test_errors script
      id: check-test-errors
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        max-score: 10
        setup-command: pip install numpy matplotlib pandas os
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CHECK-ITER_RESULTS: "${{steps.check-iter.outputs.result}}"
        CHECK-NOTEBOOK_RESULTS: "${{steps.check-notebook.outputs.result}}"
        CHECK-SVG_RESULTS: "${{steps.check-svg.outputs.result}}"
        CHECK-4-ERRORS_RESULTS: "${{steps.check-4-errors.outputs.result}}"
        CHECK-TEST-ERRORS_RESULTS: "${{steps.check-test-errors.outputs.result}}"
      with:
        runners: check-iter, check-notebook, check-svg, check-4-errors, check-test-errors